#LogoContainer {
	border-radius: 50%;
	width: 50px;
	height: 50px;
	border: 1px solid black;
	padding: 10px;
	margin: 0 auto;
}

#Logo {
	width: 100%;
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

.main {
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: #FFFFFF;
}

.container {
	max-width: 960px;
}

.navbar .nav-item.active {
	font-weight: bold;
}

footer .links p {
	margin-bottom: 0;
}

header .bg-light {
	background-color: rgb(131, 170, 139);
}

footer.bg-light {
	background-color: rgb(131, 170, 139);
}

.logoWithName {
	text-align: center;
}

.logoWithNameImage {
	width: 300px;
}

.cart {
	float: right;
}

.cart img {
	width: 32px;
}

.mainHeadline {
	font-family: Over the Rainbow;
	font-size: 200%;
}

.me-left {
	margin: 0 10px 10px 0;
	width: 300px;
}

.me-right {
	margin: 0 0 10px 10px;
	width: 300px;
}

.bold-menu {
	font-weight: bold;
}

.card-body-2 {
	border: 1px solid rgba(0,0,0,.125);
	border-radius: .25rem;
	background-color: #fff;
}
